# Requires Go (to compile C bindings) and Python 3.12+.
# See https://github.com/trufnetwork/sdk-py for prebuilt wheels if you'd rather skip the Go build.
trufnetwork_sdk_py @ git+https://github.com/trufnetwork/sdk-py.git@main
